.mat-mdc-card {
    margin: 1em;
    max-width: 640px;
}

.mat-mdc-form-field {
    width: stretch;
    /* margin-left: 1em; */
}

.mat-mdc-card-actions .mdc-button {
    margin-left: 8px;
    margin-bottom: 8px;
}

.mat-mdc-card-title a,
.mat-mdc-card-title a:hover,
.mat-mdc-card-title a:visited {
    color: #fff;
}

mat-card-content {
    margin-top: 8px;
}
.button-container{
    margin-left: 15px;
}
.viewPersonalStats{
    margin-left: 10px;
    font-size: 15px;
    text-decoration: underline;
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
}
.viewPersonalStats:hover{
    background-color: #4254f5;
    transition: solid background-color .4s;
}