.query-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .query-item:hover {
    background-color: #e9e9e9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }
  
  .chart-container {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: #fff;
  }
  
  /* Adapted styles from statscomponent.css */
  .horizontal-container {
    display: flex;
    align-items: center;
  }
  
  .custom-panel-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .report-line {
    flex-grow: 1;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .report-line:hover {
    color: #007bff;
    text-decoration: underline;
  }
  
  /* Buttons */
  .custom-panel-button, .delete-button {
    min-width: 80px;
    box-sizing: border-box;
    margin-left: 8px;
  }
  
  .share-button, .undo-button, .delete-button {
    background-color: #28a745;
    color: white;
  }
  
  .undo-button {
    background-color: #dc3545;
  }
  
  .delete-button {
    background: #dc3545;
  }
  
  .share-button:hover, 
  .undo-button:hover,
  .delete-button:hover {
    opacity: 0.85;
  }
  
  .report-name, .report-range, .report-compare {
    font-weight: bold;
  }
  .chart-container {
    max-width: 800px; 
    max-height: 500px; 
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: #fff;
  }
  
  canvas {
    max-width: 100%; 
    height: auto; 
  }
  .mat-mdc-card {
    max-width: 100%;
}

