<div style="display: flex; align-items: center">
  <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" />
    <mat-datepicker-toggle
      matSuffix
      [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker startView="month"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>End Date</mat-label>
    <input
      matInput
      [matDatepicker]="endPicker"
      [matDatepickerFilter]="endDateFilter"
      [(ngModel)]="endDate"
      (dateChange)="onEndDateChange($event, true)" />
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker startView="month"></mat-datepicker>
  </mat-form-field>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>(Optional) Start Date2</mat-label>
    <input
      matInput
      [matDatepicker]="compareStartPicker"
      [(ngModel)]="compareStartDate" />
    <mat-datepicker-toggle
      matSuffix
      [for]="compareStartPicker"></mat-datepicker-toggle>
    <mat-datepicker #compareStartPicker startView="month"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>(Optional) End Date2</mat-label>
    <input
      matInput
      [matDatepicker]="compareEndPicker"
      [matDatepickerFilter]="endcompareDateFilter"
      [(ngModel)]="compareEndDate"
      (dateChange)="onEndDateChange($event, false)" />
    <mat-datepicker-toggle
      matSuffix
      [for]="compareEndPicker"></mat-datepicker-toggle>
    <mat-datepicker #compareEndPicker startView="month"></mat-datepicker>
  </mat-form-field>
  <div class="horizontal-container">
    <button
      mat-raised-button
      color="accent"
      (click)="fetchData()"
      type="button"
      class="search">
      Search
    </button>
    <button mat-raised-button color="accent" type="button" class="save">
      Save
    </button>
    <search-reports>Reports</search-reports>
  </div>
</div>

<div *ngIf="displayChart" style="display: block">
  <canvas
    baseChart
    width="600"
    height="400"
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"></canvas>
</div>

<div class="stats-table">
  <stats-table
    [originalData_0]="
      lineChartData.datasets[0] ? lineChartData.datasets[0].data : []
    "
    [compareData_0]="
      lineChartData.datasets[1] ? lineChartData.datasets[1].data : []
    ">
  </stats-table>
</div>
