<table *ngIf="originalData.length">
  <thead>
    <tr>
      <th>Statistic</th>
      <th>Original Data</th>
      <th *ngIf="compareData.length">Compare Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mean</td>
      <td>{{ mean.original }}</td>
      <td *ngIf="compareData.length">{{ mean.compare }}</td>
    </tr>
    <tr>
      <td>Median</td>
      <td>{{ median.original }}</td>
      <td *ngIf="compareData.length">{{ median.compare }}</td>
    </tr>
    <tr>
      <td>Standard Deviation</td>
      <td>{{ sd.original }}</td>
      <td *ngIf="compareData.length">{{ sd.compare }}</td>
    </tr>
    <tr>
      <td>Mean Stay Time</td>
      <td>{{ meanStayTime }}</td>
      <td *ngIf="compareData.length">{{ c_meanStayTime }}</td>
    </tr>
    <tr>
      <td>Most frequent Check-in Hour</td>
      <td>{{ mostCommonCheckinHour }}</td>
      <td *ngIf="compareData.length">{{ c_mostCommonCheckinHour }}</td>
    </tr>
    <tr>
      <td>Most frequent Check-in Day</td>
      <td>{{ mostCommonCheckinDay }}</td>
      <td *ngIf="compareData.length">{{ c_mostCommonCheckinDay }}</td>
    </tr>
    <tr>
      <td>Outliers</td>
      <td>
        <li *ngFor="let outlier of outliers.original">{{ outlier }}</li>
      </td>
      <td *ngIf="compareData.length">
        <li *ngFor="let outlier of outliers.compare">{{ outlier }}</li>
      </td>
    </tr>
  </tbody>
</table>
